#what .items .item {
  display: flex;
  text-align: left;
}

#what .items .item i {
  margin-right: 1.3rem;
  align-self: center;
  /* border: 1px solid black; */
  margin-bottom: 0;
}

#contact .map {
  flex: 2;
}
